<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gezicoding.geligeli.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.gezicoding.geligeli.model.entity.Comment">
        <id column="comment_id" property="commentId" jdbcType="BIGINT"/>
        <result column="video_id" property="videoId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="parent_comment_id" property="parentCommentId" jdbcType="BIGINT"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment_id, video_id, user_id, parent_comment_id, content, create_time
    </sql>

</mapper>
